
= link_to t("new_order"), new_order_path, method: :get

- if @orders.present?
  %table
    %tr
      %th ID
      %th= t("name")
      %th
    - @orders.each do |order|
      %tr
        %td= OrderDecorator.new(order).id
        %td= order.name
        %td
          = link_to t("show_order"), order_path(order)
- else
  %div= t("no_orders")